<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
        <title>Stock Market Prediction</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
        <link rel="stylesheet" href="{% static 'css/jqx.base.css' %}">
        <link rel="stylesheet" href="{% static 'css/jqx.dark.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-static-top" style="background-color: #377BB5">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="{% static 'css/images/logo.png' %}" width="30" height="30" alt="" style="margin-top: -5px"></a>
            <div class="navbar-inner">
            <div class="col-sm-8">
                <form class="navbar-form" role="search" action="{% url 'search' %}" method="get">
                    <div class="input-group search" style=" width:100%">
                        <input type="text" name="search" class="form-control" placeholder="Search for news according to company symbol(e.g. ADBL)" name="srch-term" id="search-term">
                    </div>
                </form>
            </div>
                <ul class="nav navbar-nav navbar-right login" style="">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{request.user.username}}<span class="glyphicon glyphicon-edit"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item container" style="color: #2b669a" href="/{{ request.user.username }}/setting">
                                <span class="glyphicon glyphicon-pencil"></span> Settings</a>
                            <a class="dropdown-item container" style="color: #2b669a" href="/{{ request.user.username }}/edit">
                                <span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <a class="dropdown-item container" style="color: #2b669a" href="/user_logout">
                                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li><a href= "/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/user_login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </nav>
                {% block content %}
                {% endblock %}
    <div class="footer">
        <p>© All Rights Reserved  Odin 2017 . </p>
            <img src="assets/images/logo.png" style="display: block; margin-left: auto;margin-right: auto; width: 5%" alt="">
    </div>
                {% block script %}
                {% endblock %}
    </body>
</html>