{% extends 'base.html' %}
{% block content %}
{% load static %}

        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4 style="font-size: 1.7em;padding: 0px;margin: 0px;">Dashboard</h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="text-align: right;">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="card" style="padding:10px 0px 10px 20px;">
                <div id="slide">

                </div>
                <!--<marquee>{% autoescape off %}{{ html }}{% endautoescape %}</marquee>-->
                </div>
            </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                <div class="card">
                    <h4 class="card-header">Market Today</h4>
                    <div id="allcompany" style="height: 300px; min-width: 320px"></div>

                </div>
                </div>

                <div class="col-sm-6">
                <div class="card">
                    <h4 class="card-header">My Stocks </h4>
                    <div id="mycompany" style="height: 300px; min-width: 320px"></div>

                </div>
                </div>
            </div>
        </div>
        <div class="form-group"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                <div class="card">
                    <h4 class="card-header">Instant Email</h4>
                    {% if user.is_authenticated %}
                        <form action="" class="email" style="padding: 5px" method="post">
                        {% csrf_token %}
                          {% for field in form %}
                        <div class="form-group ">
                          {{ field.label_tag }}<br>
                          <input type = "{{ field.field.widget.input_type }}" name = "{{field.name}}" class = "form-control">

                        </div>
                            {% endfor %}
                        <button type="submit" class="btn btn-primary">Send</button>
                    {% else %}
                            <ul class="messages">
                                <li class="message">You must be logged in to send email</li>
                            </ul>
                    </form>
                    {% endif %}
                </div>
                </div>

                <div class="col-sm-6">
                <div class="card">
                    <h4 class="card-header">Market Status</h4>
        <div class="table">
        <table id="dataTable" border="1">
        <thead>
            <tr>
                <th align="left">Company</th>
                <th align="left">Price Today</th>
                <th align="left">Change</th>
                <th align="left">Tommorow Price</th>

            </tr>
        </thead>
        <tbody>
            {% for data in company %}
            <tr>
                <td>{{ data.symbol }}</td>
                <td>{{ data.ltp }}</td>
                <td><span class="plus">{{ data.change }}<span class="caret caret-up"></span></span></td>
                <td>{{data.prediction}}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>


                </div>
                </div>
            </div>
        </div>
        <div class="a" style="margin:40px 20px 0px"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   <h4 class="card-header">Burning</h4>
                </div>
                {% for item in burning %}
                    {% for object in item %}
                        <div class="a" style="margin:40px 20px 0px"></div>
                        <div class="card">
                        <div class="col-sm-3" style="margin-bottom: 7px;">

                        <div class="col-sm-4" style="padding: 0px">
                            <img class="img-responsive" src="{% static 'css/images/logo.png' %}" alt="Image">
                        </div>
                        <div class="col-sm-8">
                            <h3 class="compname">{{object.symbol}}</h3>
                            {% if object.change > 0 %}
                            <span class="plus">{{object.change}}<span class="caret caret-up"></span></span>
                            {% elif object.change < 0 %}
                            <span class="minus">{{object.change}}<span class="caret"></span></span>
                            {% else %}
                            <span>{{object.change}}<span></span></span>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            <div class="a" style="margin:30px 0px 40px 0px"></div>
            <div class="row">
                <div class="col-sm-12">
                <div class="card">
                   <h4 class="card-header">News</h4>
                </div>
                    {% for item in news %}
                <div class="col-sm-4">
                    <div class="card">
                        <p class="date">{{item.date}}</p>
                        <h5 class="headline">{{item.headline}}</h5>
                        <p class="content" style=" height: 2.2em; line-height: 1.1; overflow: hidden;">{{item.content}}</p>

                        <a class="btn btn-info" style="margin: 0px 10px 20px 10px;" href = "{{ item.url }}" target="_blank">More</a>
                                {% if item.score < 0 %}
                                    <span class="minus" style="float: right;">Neg</span>
                                {% elif item.score > 0 %}
                                    <span class="plus" style="float: right;">Pos</span>
                                {% else %}
                                    <span class="neutral" style="float: right;">Neutral</span>
                                {% endif %}
                    </div>
                </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="a" style="margin:30px 0px 40px 0px"></div>
{% endblock %}
{% block script %}
<div class="a" style="margin:30px 0px 40px 0px"></div>
        <script src="{% static '/js/jquery.js' %}"></script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
        <script src="{% static '/js/highchartdarktheme.js' %}"></script>
        <script src="{% static '/js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxcore.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxdata.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxbuttons.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxscrollbar.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxlistbox.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxdropdownlist.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/jqxdatatable.js' %}"></script>
<script>
        Highcharts.setOptions(Highcharts.theme);
            $.getJSON('https://www.highcharts.com/samples/data/aapl-c.json', function (data) {
            // Create the chart
            Highcharts.stockChart('allcompany', {


                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: 'ADBL Stock Price'
                },

                series: [{
                    name: 'ADBL',
                    data: data,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        });

        </script>

<script>
    var seriesOptions = [],
    seriesCounter = 0,
    names = ['MSFT', 'AAPL', 'GOOG'];

/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */
function createChart() {
    Highcharts.setOptions(Highcharts.theme);

    Highcharts.stockChart('mycompany', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: seriesOptions
    });
}

$.each(names, function (i, name) {

    $.getJSON('https://www.highcharts.com/samples/data/' + name.toLowerCase() + '-c.json',    function (data) {

        seriesOptions[i] = {
            name: 'ADBL',
            data: data
        };

        // As we're loading the data asynchronously, we don't know what order it will arrive. So
        // we keep a counter and create the chart when all the data is loaded.
        seriesCounter += 1;

        if (seriesCounter === names.length) {
            createChart();
        }
    });
});
        </script>



<script>
    function refresh() {
        $.ajax({
            url: "data/",
            success: function(data) {
                sl = data['html'];
                console.log(sl);
                html = '<marquee>'+ sl +'</marquee>';
                $('#slide').html(html)
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        });
    };
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel();
        refresh();
        setInterval(refresh, 150000);
    });
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items:7,
                loop:true,
                margin:10,
                autoplay:true,
                autoplayTimeout:1000,
                autoplayHoverPause:true,
                slidespeed:0,
                dots: false,
            });
            $('.play').on('click',function(){
                owl.trigger('play.owl.autoplay',[1000])
            })
            $('.stop').on('click',function(){
                owl.trigger('stop.owl.autoplay')
            })
</script>

<script type="text/javascript">
        $(document).ready(function () {
            $("#dataTable").jqxDataTable(
            {
                altRows: true,
                sortable: true,
                theme: 'dark',
                columnsResize: true,
                pageable: true,
                columns: [
                  { text: 'Company', dataField: 'Company', width: 130 },
                  { text: 'Price Today', dataField: 'Price Today', width: 110 },
                  { text: 'Change', dataField: 'Change', width: 145 },
                    { text: 'Tommorow Price', dataField: 'Tommorow Price', width: 145 },

                ]
            });
        });
</script>
{% endblock %}
    </body>
</html>
