{% extends 'base.html' %}
{% block content %}
{% load static %}
        </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4 style="font-size: 1.7em;padding: 0px;margin: 0px;">Search Results</h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="text-align: right;">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/search">Search</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search Results</li>
                    </ol>
                </nav>
        </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                <div class="card">
                   <h4 class="card-header">Search Results for {{ newsof }}</h4>
                </div>
                <div class="col-sm-12">
                    {% for item in news %}
                    <div class="card">
                        <p class="date">{{ item.date }}</p>
                        <h3 class="headline">{{item.headline}}</h3>
                        <p class="content" style=" height: 2.2em; line-height: 1.1; overflow: hidden;">{{item.content}}</p>
                        <a class="btn btn-info" style="margin: 0px 10px 20px 10px;" href = "{{ item.url }}" target="_blank">More</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
            {% block script %}
<div class="a" style="margin:30px 0px 40px 0px"></div>
        <script src="{% static '/js/jquery.js' %}"></script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
            {% endblock %}
        </div>
