{% load static %}
<html>
    <head>
        <title>Login/SignUp for Stock Prediction</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>
    <body background="{% static '/images/bg.png' %}">
        <div class="wrapper">
  <div class="container">
    <div class="form-group " style="margin-top: 10%">
    <div class="col-sm-4 col-sm-offset-4" style="background-color: #242424; padding: 50px 30px 30px 30px">
    <div class="card">
        <div class="card-header bg-white text-center">
            <h4 class="card-title">SignUp</h4>
        </div>
    </div>
  <div class="form-group"></div>
                        <div class="form-control" style="display: none"></div>
                            <div class="tab-content " style="">
                                <form id="signup" class="tab-pane fade in active" method="post">
                                    <p action="login.html" class="formsignup">
                                        {% csrf_token %}
                                        {% for field in form %}
                                    <p>
                                        <div class="form-group">
                                            {{ field.label_tag}}<br>
                                            <input type = "{{ field.field.widget.input_type }}" name = "{{field.name}}" class = "form-control">
                                        </div>
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">SignUp</button>
                                    </p>
                                </form>
                            </div>
    </div>
    </div>
  </div>
        </div>
</body>
</html>

<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
    </body>
</html>
