{% extends 'base.html' %}
{% block content %}
{% load static %}
        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4 style="font-size: 1.7em;padding: 0px;margin: 0px;">Settings</h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="text-align: right;">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Settings</li>
                    </ol>
                </nav>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="card" style="padding:10px 0px 10px 20px;">
                <div class="owl-carousel owl-theme">
                  <div>
                    <h4 style="display: inline;">NMB</h4>
                      <span class="minus">-3.25<span class="caret caret-up"></span></span>
                  </div>
                  <div>
                    <h4 style="display: inline;">NMB</h4>
                      <span class="minus">-3.25<span class="caret caret-up"></span></span>
                  </div>
                  <div>
                    <h4 style="display: inline;">NMB</h4>
                      <span class="minus">-3.25<span class="caret caret-up"></span></span>
                  </div>
                  <div>
                    <h4 style="display: inline;">NMB</h4>
                      <span class="minus">-3.25<span class="caret caret-up"></span></span>
                  </div>
                  <div>
                    <h4 style="display: inline;">NMB</h4>
                      <span class="minus">-3.25<span class="caret caret-up"></span></span>
                  </div>
                  <div>
                    <h4 style="display: inline;">NMB</h4>
                      <span class="minus">-3.25<span class="caret caret-up"></span></span>
                  </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h4 class="card-header">My Stocks</h4>
                        <form action="" class="selectcompany" method="post">
                               <div class="form-group">
                                  {% csrf_token %}
                                   {% for company in company %}
                                   <input class="form-check-input" name="choices" type="checkbox" id="choice{{forloop.counter}}" value="{{ company.symbol }}" />
                                   <label for="choice{{forloop.counter}}">{{ company.symbol }}</label>
                                    {% endfor %}
                            </div>
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
</ul>
{% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <h4 class="card-header">My News Watch</h4>
                        <form action="" class="selectcompany" method="post">
                               <div class="form-group">
                                  {% csrf_token %}
                                   {% for company in company %}
                                   <input class="form-check-input" name="choices" type="checkbox" id="choice{{ forloop.counter }}" value="{{ company.symbol }}" />
                                   <label for="choice{{forloop.counter}}">{{ company.symbol }}</label>
                                    {% endfor %}
                            </div>
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
<div class="a" style="margin:30px 0px 40px 0px"></div>
{% endblock %}
{% block script %}
<div class="a" style="margin:30px 0px 40px 0px"></div>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <script src="assets/js/owl.carousel.js"></script>
        <script>
            $(document).ready(function(){
              $('.owl-carousel').owlCarousel();
            });
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items:7,
                loop:true,
                margin:10,
                autoplay:true,
                autoplayTimeout:1000,
                autoplayHoverPause:true,
                slidespeed:0,
                dots: false,
            });
            $('.play').on('click',function(){
                owl.trigger('play.owl.autoplay',[1000])
            })
            $('.stop').on('click',function(){
                owl.trigger('stop.owl.autoplay')
            })
        </script>
{% endblock %}
